// Metadata

/*!
 * Asclaria
 * Version: 5
 * 
 * Lysianthus's personal use only
 */

// Fonts

@font-face {
	font-family: 'Kelvinch';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/KelvinchRegular.woff') format('woff');
}

@font-face {
	font-family: 'Kelvinch';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/KelvinchBold.woff') format('woff');
}

@font-face {
	font-family: 'Kelvinch';
	font-weight: normal;
	font-style: italic;
	src: url('../fonts/KelvinchItalic.woff') format('woff');
}

@font-face {
	font-family: 'Kelvinch';
	font-weight: bold;
	font-style: italic;
	src: url('../fonts/KelvinchBoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'Ribbon';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Ribbon.woff') format('woff');
}

@font-face {
	font-family: 'Cornerstone';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Cornerstone.woff') format('woff');
}

$fontDefault: 'Kelvinch', serif;
$fontHeading: 'Ribbon', sans-serif;
$fontAlt: 'Cornerstone', sans-serif;


// Colors

/*$red: #fc003b;
$violet: #b438e8;
$yellow: #ffff4a;
$cyan: #37f3ff;
$teal: #45dcba;
$dull_red: #ef084c;
$purple: #f346be;*/

$light: #F5F5F5;
$lightpink: #FEC0C7;
$pink: #E26872;
$darkviolet: #572C56;
$violet: #A05F91;
$yellow: #F6E998;

$gray: #999;
$bggray: #DDD;

$white: #FFF;
$black: #000;


// Reusable Classes

%clearfix {
	margin: 0;
	padding: 0;
	content: '';
	display: table;
	clear: both;
}


// Mixins

@mixin font($name, $weight, $style, $size) {
	font-family: $name;
	font-weight: $weight;
	font-style: $style;
	font-size: $size;
}