RewriteEngine on

RewriteRule ^about/([^/]+)/?$ about_$1.php [L]
RewriteRule ^projects/([^/]+)/?$ projects_$1.php [L]
RewriteRule ^extras/([^/]+)/?$ extras_$1.php [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

ErrorDocument 404 http://asclaria.org/404
ErrorDocument 403 http://asclaria.org/403
ErrorDocument 500 http://asclaria.org/500

Options All -Indexes